a {
  text-decoration: none;
}
.body {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.menu {
  padding: 0;
  width: 630px;
  margin: 25px auto;
}
.menu li {
  display: inline-block;
  margin-right: 72px;
}

.menu li:nth-child(3) {
  margin-right: 50px;
}
.menu li:nth-child(4) {
  margin-right: 0;
}
.menu li a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;

  color: #ff0000;
}
.main {
  text-align: center;
}
.main h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  margin-top: 49px;
  color: #373737;
  margin-bottom: 38px;
}
.main p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  margin-bottom: 28px;
  color: #373737;
}
.button {
  margin: 0 auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  background-color: #ff0000;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  padding: 18px 43px;
  margin-top: 68px;
}

.footer {
  text-align: end;
}
.footer-info {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  margin-top: 82px;
  color: #373737;
}
